include *.txt
include README.md
include pyproject.toml

graft gliderpy

prune docs
prune tests
prune notebooks
prune *.egg-info

global-exclude *.nc

exclude *.enc
exclude *.yml
exclude .gitignore
exclude .isort.cfg
exclude gliderpy/_version.py
exclude ruff.toml
