# Pyarrow will be required in pandas 3.0,
# added here for better performance and to avoid a deprecation warning.
cartopy
check-manifest
jupyter
matplotlib
nbconvert
nbsphinx
palettable
pre-commit
pyarrow
pytest
pytest-cov
pytest-flake8
pytest-sugar
pytest-xdist
setuptools_scm
sphinx
