# Pyarrow will be required in pandas 3.0,
# added here for better performance and to avoid a deprecation warning.
cartopy
check-manifest
jupyter
matplotlib
nbconvert
nbsphinx
palettable
pandas-flavor
pre-commit
pyarrow
pytest
pytest-cov
pytest-mpl
pytest-sugar
pytest-vcr
pytest-xdist
sphinx
