name: Full Tests

# no permissions by default
permissions: {}

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Core Tests
      run: |
        python -m pip install .[test]
        python -m pytest -rxs --cov=gliderpy --mpl --vcr-record=none tests/test_fetchers.py

    - name: Full Tests
      run: |
        python -m pip install .[test,plotting,docs]
        python -m pytest -rxs --cov=gliderpy --mpl --vcr-record=none tests
