name: Full Tests

# no permissions by default
permissions: {}

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Core Tests
      run: |
        python -m pip install .[test]
        python -m pytest -rxs --cov=gliderpy --mpl --vcr-record=none tests/test_fetchers.py

    - name: Full Tests
      run: |
        python -m pip install .[test,plotting,docs]
        python -m pytest -rxs --cov=gliderpy --mpl --vcr-record=none tests
